/*basic start*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Pacifico', cursive;
   font-family: 'Roboto', sans-serif;
   font-family: 'Russo One', sans-serif;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}

.clear{
    clear: both;
}
/*basic end*/


/*header start*/
.header{
    background-image: url(./img/banar.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header_overly{
    background-color: rgba(0, 0, 0, .65);
    height: 450px;
}
.logo {
    text-align: center;
}
.logo img {
    height: 100px;
    margin-top: -8px;
}
.header-content{
    color: white;
    text-align: center;
    margin-top:70px; 
}
.header-content h1{
    font-family: 'Russo One';
    font-size: 45px;
}
.header-content h3{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 25px;
}

.social_menu{
}
.social_menu ul{
    margin: 20px 0;
    text-align: center;
}
.social_menu ul li{
    margin: 0 10px;
    display: inline-flex;
}
.social_menu ul li a{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 2px solid #3eb9a6;
    border-radius: 50%;
    color: #3eb9a6;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s,color 0.5s;
}
.social_menu ul a:hover{
    background-color: #3eb9a6;
    color: white;  
}

/*header end*/



/* User Part start */
.user {
    background-color: #e6e6e6;
    height: 600px;
    padding: 0 30px;
    position: relative;
}
.user_image {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -22%;
    width: 80%;
    text-align: center;
}
.user_image img {
    height: 100%;
    border-radius: 50%;
    border: 8px solid #fff;
}
.user_content {
    position: absolute;
    top: 80px;
    left: 0%;
    right: 0%;
    text-align: center;
    color: #323232; 
}
.user_content h3 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.user_content h1{
    margin: 20px 0;
}
.user_content h4{
    font-family: 'Roboto', sans-serif;
    color:  #18b59f;
    font-size: 19px;
}
.user_content p{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin:8px auto;
    font-weight: 300;
    font-size: 15px;

}
.user_info{
    display: inline-flex;
    width: 80%;
    margin: 40px 0;
}
.user_info .info{}
.user_info .info .info_icon i{
    color: #3eb9a6;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border: 2px solid #3eb9a6;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
}
.user_info .info h2{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    font-size: 20px;
}
.user_info .info p{}
/* User Part end */


/*protfolio start*/

.protfolio{
    height: 900px;
    background-color: #ecf0f1;
    padding: 50px;
}
.protfolio h1 {
    font-family: 'Russo One', sans-serif;
    color: #323232;
    padding: 50px 0;
    text-align: center;
}

.protfolio_item{
    height: auto;
    width: 30%;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0 10px 20px 0;
}
.p_img img {
    max-width: 100%;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}
.p_img img:hover{
    box-shadow: 0px 5px 38px 1px #323232;
}

/*protfolio end*/

/* contact_from start */

.contact_from{
    background-color: #fff;
    height: 100vh;
}
.contact_from h1{
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
    color: #3eb9a6;
}

.contact_left{
    float: left;
    width: 45%;
}
.contact_left img{
    width: 100%;
}
.contact_right{
    float: right;
    width: 45%;
}




form {
    position: relative;
    width: 80%;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration,
    .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #3eb9a6;
    }
    .form-left-decoration {
    bottom: 60px;
    left: -30px;
    }
    .form-right-decoration {
    top: 60px;
    right: -30px;
    }
    .form-left-decoration:before,
    .form-left-decoration:after,
    .form-right-decoration:before,
    .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration:before {
    top: -20px;
    }
    .form-left-decoration:after {
    top: 20px;
    left: 10px;
    }
    .form-right-decoration:before {
    top: -20px;
    right: 0;
    }
    .form-right-decoration:after {
    top: 20px;
    right: 10px;
    }
    .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    }
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
    }
    .form-inner textarea {
    resize: none;
    }
    button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #158d7b;
    background: #3eb9a6; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    button:hover {
    background: #158d7b;
    } 
/* contact_from end */

/* footer start */

.footer{
    background-color: #2c3e50;
    border-radius: 10px 10px 0 0;
}
.footer h6{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size: 15px;
}


/* footer end */



















